*{
    margin: 0;
    padding: 0;
    font-family: 'Handjet', sans-serif;
}
body{
    background-color: rgb(114, 25, 197);
}
.wrapper{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.gif {
    height: 40vh;
    width: 25vw;
}
.head-text h1{
    text-align: center;
    font-size: 2.5em;
}
.head-text h2{
    text-align: center;
    font-size: 2em;
}
.info-block{
    background-color: rgb(99, 17, 176);
    width: 90vw;
}
.info-block p{
    font-size:1.5em;
}
